@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
